<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Rooms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron">
    <h1 class="display-4">COLLEGE SCHEDULE</h1>
    <hr class="my-4">
</div>

<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table" cellspacing="0">
                    <thead>
                    <tr>

                        <th scope="col">Room No.</th>
                        <th scope="col">Type of event</th>
                        <th scope="col">Time from</th>
                        <th scope="col">Time to</th>
                        <th scope="col">Date</th>
                        <th scope="col">Instructor</th>
                        <th scope="col">Event details</th>
                    </tr>
                    </thead>
                    {% for booking in bookings %}
                    <tr>
                    <td>{{booking.room.room_number}}</td>
                    <td>{{booking.room.room_type}}</td>
                    <td>{{booking.booking_time_from}}</td>
                    <td>{{booking.booking_time_to}}</td>
                     <td>{{booking.booking_date}}</td>
                         <td> <p>{{booking.user}} </p>
                             <p>{{booking.user.email}}</p>
                             <p>{{booking.user.phone_number}}</p>
                         </td>

                    {% endfor %}


                </table>
            </div>
        </div>
    </div>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>
</html>