.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat',sans-serif;
}
.container-fluid{
    padding: 3% 12% 1%;
    background: #14b1ab;
}
body{
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
}

.dropdown-menu{
    left:20px;
}
.row{
    padding: 80px 50px;
}

#desc{
    padding: 3% 12% 3%;
}

#rooms{
    background:#c4fb6d;
    padding: 100px;
    text-align: center;
}

.price-col{
    padding: 3% 2%;
}

#footer{
    padding: 50px;
    text-align: center;
    background: #fff48f;
}
.cnt{
    padding:20px;
}
.icn{
    padding: 5px;
    color: black;
}